 <header class = "header">
    <a href="/dashboard" class = "header__logo">Expense Splitter</a>
    <div class = "header__button">
        <button>
            <a href="/logout">Logout</a>
        </button>
    </div>
</header>