<div class="info-row">
    <h1>Welcome to Expense Splitter</h1>
  </div>
  <div class="info-row">
    <h2>To use the application you need to 
        <a href="/signup">sign up!</a>
    </h2>
    </div>

    <h3>Already have an account?
        <a href="/login">Click to login!</a>
    </h3>

    